<!DOCTYPE html>
<html lang="en">

<head>

    <title>React App</title>
</head>

<body>
    <form action="/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Log In" />
        </div>
    </form>
    <p>Not yet a user? <a href="/register">Register here!</a></p>
</body>

</html>


