<!DOCTYPE html>
<html lang="en">

<head>

    <title>React App</title>
</head>

<body>
    <form action="/register" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </form>
</body>

</html>


